
body {
  margin: 0 80px;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

p, h1, h2, h3{
  margin: 0;
  cursor: default;
}